/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
div[class*="col"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 1.3em;
}

td input{
  display:inline;
  margin:0;
  padding:0;
}

/*-- table部分 --*/

th{
  height:52px;
  vertical-align: middle;
  background-color:#fff;
}

th img{
  height:40px;
  width:auto;
}

td{
  width:29%;
  padding:0.6em 0.4em;
  color:#000;
  border-bottom:#d6d6d6 solid 2px;
  font-size:0.875em;
  text-align:left;
  vertical-align:middle;
}

tr:nth-child(odd){
  background-color:#FBF9F2;
}



td.line_g{
  width:10%;
  color:#50B16D;
  border-bottom:#50B16D solid 2px;
  font-weight:bold;
  font-size:1.25em;
  line-height:1.0em;
  text-align:center;
  vertical-align:middle;
}
div.bline{
  width:10%;
  color:#506DB1;
  border: 1px solid #ffffff;
  border-bottom:#506DB1 solid 2px;
  font-weight:bold;
  font-size:2.0em;
  line-height:1.0em;
  text-align:center;
  vertical-align:middle;
}

#sec03 td label{
  display:table;
}
#sec03 div label{
  display:table;
}


#sec03 td input{
  display:table-cell;
  height:4em;
  padding-right:4px;
  vertical-align:middle;
}
#sec03 div input{
  display:table-cell;
  height:4em;
  padding-right:4px;
  vertical-align:middle;
}

#sec03 td p{
  display:table-cell;
  height:4em;
  vertical-align:middle;
}
#sec03 div p{
  display:table-cell;
  height:4em;
  vertical-align:middle;
}

#sec03 table span{
  display:inline-block;
}

#sec03 table{
  width:96%;
  margin:0 auto;
  font-size:0.72em;
  overflow:hidden;
}
#sec03 .dostab{
  width:96%;
  margin:0 auto;
  font-size:0.72em;
  overflow:hidden;
}

#sec03 table td{
  text-align:left;
}
#sec03 .dostab div{
  text-align:left;
}

td label p{
  display:inline-block;
  margin-left:0.2em;
  vertical-align:middle;
}
div label p{
  display:inline-block;
  margin-left:0.2em;
  vertical-align:middle;
}



